[submodule "modules/openzeppelin-contracts"]
	path = modules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modules/proxy-factory"]
	path = modules/proxy-factory
	url = https://github.com/maple-labs/proxy-factory.git
[submodule "modules/loan"]
	path = modules/loan
	url = https://github.com/maple-labs/loan.git
[submodule "modules/contract-test-utils"]
	path = modules/contract-test-utils
	url = https://github.com/maple-labs/contract-test-utils.git
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = https://github.com/maple-labs/erc20-helper.git
